    <% @banners = get_banners %>
    <% if @banners!=nil %>
	    <div class="container bk_banners">
	    	<marquee onMouseOver="this.stop()" onMouseOut="this.start()">
		    	<%= @banners.scroll if @banners!=nil %> 
		    	<%= link_to('Click', @banners.url ) if @banners!=nil && @banners.url!=''  %>
	    	</marquee>
	    </div>
    <% end %>